<!DOCTYPE HTML>
<html lang="en">
<html>
<head>

<title>Transactions</title>

<script src="https://code.jquery.com/jquery-3.5.1.js"></script>

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>

<link href="https://cdn.datatables.net/1.10.23/css/jquery.dataTables.min.css" rel="stylesheet"/>
<link href="https://cdn.datatables.net/buttons/1.6.5/css/buttons.dataTables.min.css" rel="stylesheet"/>

<script src="https://cdn.datatables.net/1.10.23/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.6.5/js/dataTables.buttons.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
<script src="https://cdn.datatables.net/buttons/1.6.5/js/buttons.html5.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/js/all.min.js" crossorigin="anonymous"></script>

</head>
<body>

<form onsubmit="getTransactionData(document.getElementById('pubkey').value);return false">
  <div class="form-group">
    <label for="pubkey">Owner Pubkey</label>
    <input class="form-control" id="pubkey" placeholder="Enter owner pubkey">
  </div>
</form>

<br>

<table id="transactions" class="display" style="width:100%">
</table>

<script>
    // 4ADZAeY92rJFTJtWjnL8joWXCR3JA51Qeyur9at5wCNn

    var dataTable;

    // let transactionsUrl = 'http://localhost'
    // let transactionsUrl = 'http://167.172.137.53'
    let transactionsUrl = 'https://www.serumtaxtime.com'

    var getTransactionData = function(pubKey) {

    	alert('request sent');
        $.ajax({
            type: "POST",
            dataType: "json",
            url: transactionsUrl + '/transactions_api',
            data: {
                owner_pubkey: pubKey
            },
            success: function(response) {
                createDataTable(response['data'], response['columns']);
            }
        });

        return false
    }

    var createDataTable = function(data, columns) {
        var dataTableCols = [];
        for (var i = 0; i < columns.length; i++) {
            dataTableCols.push({'data': columns[i], 'title': columns[i]});
        }

        if ( $.fn.dataTable.isDataTable( '#transactions' ) ) {
            dataTable.destroy();
        }

        dataTable = $('#transactions').DataTable({
            "order": [], // Disable initial sorting
            "pageLength": 100,
            dom: 'Bfrtip',
            buttons: [
                'copyHtml5',
                'excelHtml5',
                'csvHtml5',
                'pdfHtml5'
            ],
            "aaData": data,
            "columns": dataTableCols,
        });
    }


</script>

</body>
</html>